---
import { getCollection } from "astro:content";
import MainLayout from "../../Layouts/MainLayout.astro";

// Define la interfaz para los proyectos
interface ProjectEntry {
  slug: string;
  data: {
    title: string;
    subtitle: string;
    summary: string;
    description: string;
    date: string;
    links: boolean;
    frontImg: string;
    bgImg: string;
    demoUrl: string;
    repoUrl: string;
  };
  render: () => Promise<{ Content: any; headings: any[] }>;
}

export async function getStaticPaths() {
  const projectEntries: ProjectEntry[] = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: ProjectEntry; // Usa la interfaz definida
}

const props = Astro.props;
const { entry } = Astro.props as Props; // Asegúrate de que `entry` tenga el tipo correcto
const { Content, headings } = await entry.render();
---

<MainLayout
  title={`${entry.data.title} | César Coello`}
  optionUno='Inicio'
  urlUno='/'
  optionDos='Sobre mí'
  urlDos='/#about'
  optionTres='Proyectos'
  urlTres='/#projects'
>
  <section
    id=''
    class='bg-stone-900 p-8 pt-2 mt-2 rounded-3xl max-w-screen-2xl flex flex-col items-center'
  >
    <a
      href='/#projects'
      class='flex items-center text-center text-md md:text-lg font-regular hover:font-medium text-stone-400 m-0 p-4 rounded-3xl hover:bg-stone-700 hover:text-white ml-auto self-end'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='1em'
        height='1em'
        viewBox='0 0 24 24'
        {...props}
      >
        <path
          fill='currentColor'
          d='M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1 1 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1 1 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23a1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2'
        ></path>
      </svg>
      Regresar
    </a>

    <p
      class='font-semibold mt-4 md:my-4 py-1 px-6 text-center bg-white text-black rounded-full'
    >
      {entry.data.date}
    </p>

    <h1 class='text-center text-3xl md:text-6xl font-semibold mt-4 mb-2'>
      {entry.data.title}
    </h1>

    <h2 class='text-center text-stone-300 text-xl md:text-3xl font-medium mb-2'>
      {entry.data.subtitle}
    </h2>

    {
      entry.data.links && (
        <div class='flex justify-around space-x-4'>
          <a
            href={entry.data.demoUrl}
            target='_blank'
            rel='noopener noreferrer'
            class=' flex justify-center items-center gap-1 font-medium md:my-4 py-1 px-6 md:text-xl text-center bg-stone-500 hover:bg-opacity-0 text-white rounded-full'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='1.3em'
              height='1.3em'
              viewBox='0 0 24 24'
              {...props}
            >
              <g
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
              >
                <path d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8' />
                <path d='M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18' />
              </g>
            </svg>
            <p>Ver Demo</p>
          </a>

          <a
            href={entry.data.repoUrl}
            target='_blank'
            rel='noopener noreferrer'
            class='flex justify-center items-center gap-1 font-medium md:my-4 py-1 px-6 text-center md:text-xl bg-stone-500 hover:bg-opacity-0 text-white rounded-full'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='1.3em'
              height='1.3em'
              viewBox='0 0 24 24'
              style='transform: rotate(135deg);'
              {...props}
            >
              <path
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M10 16H7a4 4 0 0 1-4-4v0a4 4 0 0 1 4-4h3m6 4H8m6 4h3a4 4 0 0 0 4-4v0a4 4 0 0 0-4-4h-3'
              />
            </svg>

            <p>Ver Repo</p>
          </a>
        </div>
      )
    }

    <p class='text-left text-base md:text-xl py-4 text-stone-50'>
      {entry.data.description}
    </p>

    <div class='overflow-hidden rounded-lg flex justify-center'>
      <img
        class='max-w-full h-auto transition-transform duration-300 ease-in-out transform hover:scale-105'
        src={entry.data.frontImg}
        alt={`Mockup de ${entry.data.title}`}
      />
    </div>

    <article class='prose md:prose-md text-xs md:text-xl'>
      <Content />
      <!-- Renderiza el contenido del archivo .mdx -->
    </article>
  </section>

  <style is:global>
    .prose h2 {
      @apply text-xl md:text-2xl font-semibold text-stone-50 mb-4 mt-8;
    }
    .prose strong {
      @apply text-lg md:text-xl font-bold text-stone-50;
    }
    .prose p {
      @apply text-base md:text-xl mb-4 text-stone-50;
    }
    .prose ul {
      @apply text-base md:text-xl list-disc list-inside mb-4 text-stone-50;
    }
  </style>
</MainLayout>
