---
import { getCollection } from "astro:content";
import MainLayout from "../../Layouts/MainLayout.astro";

// Define la interfaz para los proyectos
interface ProjectEntry {
  slug: string;
  data: {
    title: string;
    subtitle: string;
    summary: string;
    description: string;
    date: string;
    frontImg: string;
    bgImg: string;
    demoUrl: string;
    repoUrl: string;
  };
  render: () => Promise<{ Content: any; headings: any[] }>;
}

export async function getStaticPaths() {
  const projectEntries: ProjectEntry[] = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: ProjectEntry; // Usa la interfaz definida
}

const { entry } = Astro.props as Props; // Asegúrate de que `entry` tenga el tipo correcto
const { Content, headings } = await entry.render();
---

<MainLayout
  title={`${entry.data.title} | César Coello`}
  optionUno='Inicio'
  urlUno='/'
  optionDos='Sobre mí'
  urlDos='/#about'
  optionTres='Proyectos'
  urlTres='/#projects'
>
  <section
    id=''
    class='bg-stone-900 p-8 pt-2 mt-2 rounded-3xl max-w-screen-2xl flex flex-col items-center'
  >
    <a
      href='/#projects'
      class='text-md md:text-lg font-regular hover:font-medium text-stone-400 m-0 p-2 md:p-4 rounded-3xl hover:bg-stone-700 hover:text-white ml-auto self-end'
    >
      &#8592; Regresar
    </a>

    <p
      class='font-semibold mt-4 md:my-4 py-1 px-6 text-center bg-white text-black rounded-full'
    >
      {entry.data.date}
    </p>

    <h1 class='text-center text-3xl md:text-6xl font-semibold mt-4 mb-2'>
      {entry.data.title}
    </h1>

    <h2 class='text-center text-stone-300 text-xl md:text-3xl font-medium mb-2'>
      {entry.data.subtitle}
    </h2>

    <div class='flex justify-around space-x-4'>
      <a
        href={entry.data.demoUrl}
        class='font-medium md:my-4 py-1 px-6 md:text-xl text-center bg-stone-500 hover:bg-stone-700 text-white rounded-full'
        >Ver Demo</a
      >

      <a
        href={entry.data.repoUrl}
        class='font-medium md:my-4 py-1 px-6 text-center md:text-xl bg-stone-500 hover:bg-stone-700 text-white rounded-full'
        >Ver Repo</a
      >
    </div>

    <p class='text-left text-base md:text-xl py-4 text-stone-50'>
      {entry.data.description}
    </p>

    <div class='overflow-hidden rounded-lg'>
      <img
        class='max-w-full h-auto transition-transform duration-300 ease-in-out transform hover:scale-105'
        src={entry.data.frontImg}
        alt={`Mockup de ${entry.data.title}`}
      />
    </div>

    <article class='prose md:prose-md text-xs md:text-xl'>
      <Content />
      <!-- Renderiza el contenido del archivo .mdx -->
    </article>
  </section>

  <style is:global>
    .prose h2 {
      @apply text-xl md:text-2xl font-semibold text-stone-50 mb-4 mt-8;
    }
    .prose strong {
      @apply text-lg md:text-xl font-bold text-stone-50;
    }
    .prose p {
      @apply text-base md:text-xl mb-4 text-stone-50;
    }
    .prose ul {
      @apply text-base md:text-xl list-disc list-inside mb-4 text-stone-50;
    }
  </style>
</MainLayout>
