---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  optionUno: string;
  urlUno: string;
  optionDos: string;
  urlDos: string;
  optionTres: string;
  urlTres: string;
}

const { title, optionUno, urlUno, optionDos, urlDos, optionTres, urlTres } =
  Astro.props;
---

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body
    class='bg-black text-white font-poppins h-screen flex flex-col px-2 md:px-8'
  >
    <Header
      optionUno={optionUno}
      urlUno={urlUno}
      optionDos={optionDos}
      urlDos={urlDos}
      optionTres={optionTres}
      urlTres={urlTres}
    />
    <!-- Contenido principal de mi Landing Page -->
    <main
      class='flex-grow items-center justify-center w-full max-w-screen-xl mx-auto'
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0; /* Asegúrate de que no haya márgenes por defecto */
  }

  header {
    height: 60px; /* Establece la altura del header */
  }
</style>
